<div class="vocab__comments__item">
    <div class="vocab__comments__username">@<%= comment.user.username %></div>
    <div class="vocab__comments__content"><%= comment.content %></div>
    <div class="vocab__comments__time"><%= time_ago_in_words(comment.created_at) %>前</div>
</div>