<h1 class="h3 text-center">うちなー塾へようこそ！</h1>


    <div class="home-btn-group">
        <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary btn-rounded' %>
        <%= link_to "アカウント作成", new_user_registration_path, class: 'btn btn-outline-primary btn-rounded' %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-success btn-rounded' %>
    </divc>

